@use "../abstracts" as *;

.offcanvas {
  background: var(--color-police-blue);
  background-image: url(../images/shape7.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  position: fixed;
  top: 0;
  right: -100%; // boshlanishida yashirin
  width: 280px;
  height: 100vh;
  padding: 80px 60px;
  transition: right 0.3s ease-in-out;
  z-index: 1000;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 50px;

    li {
      margin-bottom: 30px;

      a {
        color: white;
        font-size: 18px;
        text-decoration: none;
        font-weight: 600;
        text-transform: lowercase;

        &:hover {
          color: var(--color-light-coral);
        }

        &.active {
          color: var(--color-light-coral);
        }
      }
    }
  }

  &.active {
    right: 0; // chiqadi
  }

  .offcanvas__close {
    position: absolute;
    top: 55px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
  }
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); // qoraroq fon
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 900; // offcanvasdan bitta pastroq bo‘lsin

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
